Upload: triangles.cpp<br />Type: application/octet-stream<br />Size: 4.9658203125 Kb<br />Upload complete.  Save this receipt for your records:<br /><br />SHA1: 292d0c7230b7b8b6efe7ddd5fd471271e2b2fef2<br />Receipt: e5cba62cf4b93e24f6b566271c255a55497d67e2