Upload: list.cpp<br />Type: application/octet-stream<br />Size: 8.93359375 Kb<br />Upload complete.  Save this receipt for your records:<br /><br />SHA1: f7f8d0455b5d90ffe77de5d13666bf3ed65e289e<br />Receipt: d9c6e394a71992f61c213b446e6a6b95eeff5338<br />
<b>Warning</b>:  fopen(./hws/tslog): failed to open stream: Permission denied in <b>/home/cslab/faculty/wes/public_html/CSC212S15/upload_file.php</b> on line <b>63</b><br />
<br />
<b>Warning</b>:  fwrite() expects parameter 1 to be resource, boolean given in <b>/home/cslab/faculty/wes/public_html/CSC212S15/upload_file.php</b> on line <b>64</b><br />
<br />
<b>Warning</b>:  fclose() expects parameter 1 to be resource, boolean given in <b>/home/cslab/faculty/wes/public_html/CSC212S15/upload_file.php</b> on line <b>65</b><br />
